<!-- {{numberOfFilms.length + 1}} -->
<form class="form" [formGroup]="adminForm">
  <mat-form-field appearance="fill">
    <mat-label>Tytuł</mat-label>
    <input matInput formControlName="title" />

    <mat-error *ngIf="titleCtrl.errors as errors">
      <ng-container *ngIf="errors['required'] "> To pole jest wymagane</ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>link do plakatu </mat-label>
    <input matInput formControlName="linkToPoster" />
    <mat-error *ngIf="linkToPosterCtrl.errors as errors">
      <ng-container *ngIf="errors['required'] "> To pole jest wymagane</ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Czas trwania [minuty] </mat-label>
    <input matInput formControlName="time" />
    <mat-error *ngIf="timeCtrl.errors as errors">
      <ng-container *ngIf="errors['required'] "> To pole jest wymagane</ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>kategoria wiekowa </mat-label>
    <input matInput formControlName="cathegory" />
    <mat-error *ngIf="cathegoryCtrl.errors as errors">
      <ng-container *ngIf="errors['required'] "> To pole jest wymagane</ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Opis filmu krótki</mat-label>
    <textarea matInput formControlName="shortDesc"></textarea>
    <mat-error *ngIf="shortDescCtrl.errors as errors">
      <ng-container *ngIf="errors['required'] "> To pole jest wymagane</ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Pełen opis filmu</mat-label>
    <textarea matInput formControlName="longDesc"></textarea>
    <mat-error *ngIf="longDescCtrl.errors as errors">
      <ng-container *ngIf="errors['required'] "> To pole jest wymagane</ng-container>
    </mat-error>
  </mat-form-field>
  <button (click)="addMovie()">Dodaj Film</button>
</form>
