.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #99c294;
}
.button:hover {
  background-color: #87a982;
}
