.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.add {
  background-color: rgb(32, 29, 29);
  height: 100vh;
  padding: 20px 20px;
}
