<app-loader></app-loader>
<div class="myTickets">
  <div class="ticketLists" *ngIf="orders$ |async as orders">
    <div class="singleTicket" *ngFor="let order of orders" [routerLink]="['/myTickets', order.id]">
      <div class="data">
        <p>Tytuł: {{order.movieTitle}}</p>
        <p>Dzień: {{order.dayId}}</p>
        <p>Godzina: {{order.hour}}</p>
      </div>
    </div>
  </div>
  <ng-template #error>
    <div *ngIf="errorClientServer$ | async">
      <app-error></app-error>
    </div>
  </ng-template>
</div>
