<div class="movie">
  <div class="single_movie">
    <div class="movie-content-title">
      <p>{{singleMovie.movie.title}}</p>
      <div class="movie-content">
        <div class="image">
          <img src="{{singleMovie.movie.img}}" />
        </div>
        <div class="movie-details">
          <div class="movie-type">
            <p *ngIf="singleMovie.movie.premiere">Premiera!</p>
            <p>{{singleMovie.movie.genre}}</p>
            <p>{{singleMovie.movie.ageRest}}</p>
            <p>Czas trwania: {{singleMovie.movie.length}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="interaction">
      <div *ngFor=" let score of scores">
        <div *ngIf="score.id===singleMovie.id">Ocena: {{score.score| avrageOfArray|json}}/10</div>
      </div>
      <div *ngIf=" wantToWatchButton$|async as wantToWatchToggle">
        <button
          class="button"
          mat-raised-button
          (click)="toggleWantToWatch(singleMovie.id, singleMovie.movie.title, wantToWatchToggle. wantoWatch)">
          {{wantToWatchToggle.wantoWatch}}
        </button>
      </div>
      <div *ngIf="singleMovie.movie.canBeJudged">
        <button class="judge" mat-raised-button (click)="openDialog('0ms', '0ms', judge.movieId, singleMovie.id)">
          Oceń film
        </button>
      </div>
    </div>
  </div>
  <app-shows [id]="singleMovie.id" [singleMovieProp]="[{title:singleMovie.movie.title }]"></app-shows>

  <div class="description">
    <p>Opis:</p>
    <p>{{singleMovie.movie.descriptionShort}}</p>
    <div *ngIf="isShown">
      <p>{{singleMovie.movie.descriptionLong}}</p>
    </div>
  </div>
  <div class="seeMoreButton">
    <button class="button" (click)="ShowMoreLess()">{{isShown? "Schowaj": "Pokaż więcej"}}</button>
  </div>
  <div class="actors">
    <p>Reżyser: {{singleMovie.movie.director}}</p>
    <p>Obsada:</p>
    <ol>
      <li *ngFor="let actors of singleMovie.movie.actors">{{actors}}</li>
    </ol>
  </div>
</div>
