.movie {
  background-color: rgb(49, 38, 38);
  display: flex;
  align-items: center;
  flex-direction: column;
  .single_movie {
    background-color: rgb(49, 38, 38);
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 16px 10px;
    gap: 12px;
    .movie-content-title {
      font-family: 'Roboto Mono', monospace;
      display: flex;
      color: white;
      width: 80%;
      flex-direction: column;
      align-items: center;
    }
    .movie-content {
      display: flex;
      gap: 5%;
      align-items: center;
    }
    .movie-details {
      display: flex;
      color: black;
      justify-content: center;
      flex-direction: column;
    }
    .movie-type {
      font-family: 'Roboto Mono', monospace;
      margin: 6px 6px;
      flex-wrap: wrap;
      flex-direction: column;
      display: flex;
      gap: 8px;
      justify-content: center;
      width: fit-content;
      p {
        padding: 12px 8px;
        border-radius: 20px;
        background-color: white;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      padding: 20px;
      border-radius: 20px;
      img {
        border-radius: 10px;
        box-shadow: 0px 0px 60px -1px #929587;
      }
    }
  }

  .button {
    border: none;
    width: 140px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 8px 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: #bdb2b2;
    cursor: pointer;
  }

  .button:hover {
    -webkit-box-shadow: 2px 17px 39px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 17px 39px -10px rgba(66, 68, 90, 1);
    box-shadow: 2px 17px 39px -10px rgb(231, 231, 231);
    color: black;
    cursor: pointer;
  }
  .description {
    width: 60%;
    padding: 10px 5px;
    color: white;
    text-align: justify;
  }
}

.judge {
  margin: 10px;
}

.interaction {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.actors {
  color: white;
  padding: 10px;
}

.seeMoreButton {
  padding: 20px 10px;
}
