// .seats {
//   &__seat-button {
//     margin: 5px 5px;
//     background-color: #b5dab0;
//     border: none;
//     padding: 10px 10px;
//   }

//   &__seat-button:hover {
//     background-color: #99c294;
//     cursor: pointer;
//   }
//   &__seat-button:disabled {
//     background-color: #60795d;
//   }
// }
.main-container {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.green {
  background-color: #b5dab0;
}
.darkgreen {
  background-color: #60795d;
}

.row {
  display: flex;
  flex-direction: row;
  min-width: 50px;
}

.col {
  display: flex;
}

.alphabet {
  display: flex;
  width: 20px;
  align-items: center;
}
