.tickets {
  display: flex;
  gap: 10px;
  align-items: center;
}

.delete {
  margin: 0px 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #bdb2b2;
  cursor: pointer;
}
.delete:hover {
  -webkit-box-shadow: 2px 17px 39px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 17px 39px -10px rgba(66, 68, 90, 1);
  box-shadow: 2px 17px 39px -10px rgb(231, 231, 231);
  color: black;
}
