.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #99c294;
}
.button:hover {
  background-color: #87a982;
}
