.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.button {
  border: none;
  width: 110px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 8px 20px;
  font-family: 'Roboto Mono', monospace;
  background-color: #bdb2b2;
  cursor: pointer;
  padding: 5px 8px;
}

.button:hover {
  -webkit-box-shadow: 2px 17px 39px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 17px 39px -10px rgba(66, 68, 90, 1);
  box-shadow: 2px 17px 39px -10px rgb(231, 231, 231);
  color: black;
}

.coupon-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
