.calendar {
  display: flex;
  gap: 5%;
  flex-direction: column;
  background-color: rgb(49, 38, 38);
  justify-content: center;
  padding: 10px;
}
.days_list {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
}
.days {
  border: none;
  width: 65px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 8px 20px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  background-color: #bdb2b2;
}
.days:hover {
  color: black;
  cursor: pointer;
}

.film__list {
  display: flex;
  flex-direction: column;
}
