<p>FORM!</p>
<form class="form" [formGroup]="adminFormShow">
  <mat-form-field appearance="fill">
    <mat-label>Wybierz dzień</mat-label>
    <mat-select (selectionChange)="onSelect()" formControlName="day">
      <mat-option *ngFor=" let date of date; index as index" [value]="index+1"> {{date|date}} </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <button (click)="addMovie()">Dodaj Film</button> -->
</form>
<div *ngIf="isOpenForm">
  <app-admin-hall-form [movieId]="movieId" [dayId]="dayId" (emitHallId)="updateHallId($event)"></app-admin-hall-form>
</div>
