.seat-button {
  margin: 5px 5px;
  border: none;
  padding: 10px 15px;
  min-width: 45px;
}

.seat-button:disabled {
  background-color: #877e7e;
}
.choosen {
  background-color: #94e98b;
}
.free {
  background-color: #c7c1c1;
}
.choosen,
.seat-button:hover {
  background-color: #dad6d6;
  cursor: pointer;
}
