.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  //   position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  margin: 0px 0px;
  background-color: rgb(56, 48, 48);
}
