.header {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.main-container {
  background-color: rgb(32, 29, 29);
  min-height: 100vh;
  padding: 20px 20px;
}

.form__input {
  font-family: 'Roboto Mono', monospace;
  padding: 40px 40px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.form_submit {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.form_submit-button {
  border: none;
  width: 130px;
  border-radius: 10px;
  padding: 8px 20px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  background-color: #bdb2b2;
}
.form_submit-button:hover {
  color: black;
  -webkit-box-shadow: 8px 8px 24px 9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 9px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 9px rgb(231, 231, 231);
  cursor: pointer;
}
.errors {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  color: white;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
