.hours {
  background-color: #b5dab0;
  padding: 12px 12px;
  border: none;
  border-radius: 20px;
  margin: 8px 8px;
}
.hours:hover {
  background-color: #99c294;
  cursor: pointer;
}
.hours-list {
  display: flex;
  gap: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list {
  display: flex;
}
