<div *ngIf="films$ |async as films; else loading">
  <div *ngIf=" wantToWatchButton$|async as wantToWatchToggle">
    <div *ngIf="judge$ |async  as judge">
      <div *ngIf="scores$| async as scores">
        <div *ngIf="currentDay$| async as currentDay">
          <article *ngFor="let film of films">
            <app-single-movie
              [currentDay]="currentDay"
              [wantToWatchToggle]="wantToWatchToggle"
              [judge]="judge"
              [singleMovie]="film"
              [scores]="scores">
            </app-single-movie>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading> loading</ng-template>
